@charset "utf-8";
@import "setting";

.product{
  #product2{
    .wrap{
      width: 950px;
      padding:55px 0 60px;
    }
    .title02{
      margin-bottom: 18px;
    }
  }
}

.product2-area{
  background: url("../images/product2/bg01.jpg") repeat-y center top;
}

.product2-sec-1{
  padding-bottom: 30px;
  .blks-1{
    .heading{
      height: 200px;
      position: relative;
      &__main{
        position: absolute;
        top:10px; left:6px;
      }
      &::after{
        position:absolute;
        content:"";
        display:block;
        bottom:0; left:0;
        height: 10px; width: 100%;
        background: url("../images/product2/line01.png") repeat-x 0 0;
      }
    }
    .image{
      margin-bottom: 38px;
    }
    .col2{
      margin:0 10px 22px;
      display: flex;
      justify-content: space-between;
      &__lt{
        width: 479px;
      }
      &__rt{
        width: 439px;
        position: relative;
      }
      .image-2{
        background: url("../images/product2/photo02.jpg") no-repeat center center / cover;
        position: absolute;
        top:0; left:0; width: 100%; height: 100%;
      }
    }
    .list{
      font-size: f(24);
      font-weight: bold;
      dt{
        background: #401f00;
        text-align: center;
        color:#fff;
        padding:8px 10px;
        margin-bottom: 12px;
      }
      dd{
        background: #fff;
        padding:20px 10px;
        letter-spacing: .05em;
        text-align: center;
        span{
          font-size: f(16);
          vertical-align: middle;
          margin-left: 17px;
        }
        + dt{
          margin-top: 20px;
        }
      }
    }
    .text{
      font-size: f(22);
      line-height: lh(34,22);
      font-weight: bold;
      padding:0 16px;
      letter-spacing: .065em;
    }
  }
  @include sp{
  }
}

.product2-sec-2{
  width: 957px;
  min-height: 576px;
  margin-left:-4px;
  background: url("../images/product2/bg02.png") no-repeat 0 0 / 100% 100%;
  .blks-1{
    text-align: center;
    width: 883px;
    margin:0 auto;
    padding:31px 0;
    .heading{
      margin-bottom: 31px;
    }
    .list{
      display:inline-block;
      text-align: left;
      color:#fff;
      font-size: f(24);
      font-weight: bold;
      margin-bottom: 32px;
      li{
        position: relative;
        padding-left: 28px;
        &:nth-child(1){
          margin-bottom: 30px;
        }
        &:nth-child(2){
          margin-bottom: 15px;
        }
        &:nth-child(3){
          margin-bottom: 25px;
        }
        &:nth-child(4){
          padding-left: 41px;
        }
        &::before{
          position:absolute;
          content:"";
          display:block;
          top:20px; left:0;
          background: #fff;
          width: 17px; height: 17px;
        }
      }
      img{
        vertical-align: middle;
        margin-right: 8px;
      }
      p{
        vertical-align: middle;
        letter-spacing: .075em;
        &:nth-child(2){
          margin: 10px 0 0 6px;
          font-size: f(27);
        }
      }
    }
    .text{
      background: #e3cbb1;
      font-size: f(27);
      font-weight: bold;
      padding:17px 10px;
      letter-spacing: .075em;
    }
  }
  @include sp{
    
  }
}

.product2-sec-3{
  position: relative;
  padding:18px 0 41px;
  &::after{
    position:absolute;
    content:"";
    display:block;
    bottom:0; left:0;
    height: 10px; width: 100%;
    background: url("../images/product2/line01.png") repeat-x 0 0;
  }
  .blks-1{
    text-align: center;
    .heading{
      margin-bottom: 26px;
    }
    .image{
      margin-bottom: 30px;
    }
    .text{
      font-size: f(24);
      font-weight: bold;
      letter-spacing: .05em;
      p:not(:last-child){
        margin-bottom: 26px;
      }
    }
  }
  @include sp{
    
  }
}

.product2-sec-4{
  position: relative;
  padding:27px 0 68px;
  &::after{
    position:absolute;
    content:"";
    display:block;
    bottom:0; left:0;
    height: 10px; width: 100%;
    background: url("../images/product2/line01.png") repeat-x 0 0;
  }
  .blks-1{
    position: relative;
    margin-bottom: 46px;
    .heading{
      width: 405px;
      margin:0 36px 30px auto;
    }
    .text{
      width: 320px;
      margin:0 38px 0 auto;
      text-align: justify;
      font-size: f(22);
      line-height: lh(32,22);
      font-weight: bold;
      letter-spacing: .02em;
    }
    .image{
      position: absolute;
      top:49px; left:20px;
    }
  }
  .blks-2{
    .list{
      margin:0 18px;
      display:flex;
      flex-wrap: wrap;
      justify-content:space-between;
      li{
        margin-top:27px;
        &:nth-child(-n+3){
          margin-top: 0;
        }
      }
    }
    .image{
      margin-bottom: 14px;
    }
    .text{
      text-align: center;
    }
  }
  @include sp{
    
  }
}

.product2-sec-5{
  padding:36px 0 38px;
  position: relative;
  &::after{
    position:absolute;
    content:"";
    display:block;
    bottom:0; left:0;
    height: 10px; width: 100%;
    background: url("../images/product2/line01.png") repeat-x 0 0;
  }
  .blks-1{
    margin:0 14px;
    .col2{
      display: flex;
      justify-content: space-between;
      &__lt{
        width: 460px;
      }
      &__rt{
        width: 427px;
        margin-top: 4px;
      }
    }
    .image-list{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li{
        margin-top: 17px;
        &:nth-child(-n+2){
          margin-top: 0;
        }
      }
    }
    .heading{
      margin-bottom: -20px;
    }
    .text{
      p{
        &:not(:last-child){
          margin-bottom: 22px;
        }
        img,span{
          display: block;
        }
        img{
          margin-bottom: 13px;
        }
        span{
          font-size: f(22);
          line-height: lh(32,22);
          letter-spacing: .05em;
          font-weight: bold;
        }
      }
    }
  }
  @include sp{
    
  }
}

.product2-sec-6{
  padding:30px 0 44px;
  .blks-1{
    position: relative;
    margin-bottom: 45px;
    .heading{
      width: 498px;
      margin:0 36px -25px auto;
    }
    .col2{
      display: flex;
      justify-content: space-between;
      width: 354px;
      margin:0 40px 30px auto;
      &__lt{
        width: 140px;
      }
      &__rt{
        width: 185px;
      }
    }
    .text{
      font-size: f(22);
      line-height: lh(32,22);
      text-align: justify;
      letter-spacing: .03em;
      font-weight: bold;
    }
    .text-2{
      margin:0 40px 0 auto;
      width: 390px;
      h5{
        margin-bottom: 12px;
      }
      p{
        font-size: f(22);
        line-height: lh(32,22);
        font-weight: bold;
        letter-spacing: .05em;
      }
    }
    .image-2{
      position: absolute;
      top:63px; left:16px;
    }
  }
  .blks-2{
    .image-list{
      margin:0 28px 0 39px;
      display:flex;
      align-items: center;
      justify-content: space-between;
      li{
        &:nth-child(2){
          padding:0 0 10px 10px;
        }
        &:nth-child(3){
          padding:12px 6px 0 0;
        }
        &:nth-child(5){
          padding-bottom: 10px;
        }
      }
    }
  }
  @include sp{
    
  }
}