@charset "utf-8";
@import "setting";

.product{
  #product2{
    .wrap{
      width: 950px;
      padding:55px 0 60px;
    }
    .title02{
      margin-bottom: 18px;
    }
  }
  @media screen and (min-width: 769px) {
    #product2{
      .sp-only{
        display: none;
      }
    }
  }
  @media screen and (min-width: 769px) and (max-width:1049px){
    #product2{
      .wrap{
        width: vw-pc(950);
        padding:vw-pc(55) 0 vw-pc(60);
      }
      .title02{
        margin-bottom: 18px;
      }
    }
  }
  @include sp{
    #product2{
      .pc-only{
        display: none;
      }
      .wrap{
        width:vw-sp(1020);
        padding:vw-sp(57) 0 vw-sp(66);
      }
      .title02{
        margin-bottom: vw-sp(50);
      }
    }
  }
}

.product2-area{
  background: url("../images/product2/bg01.jpg") repeat-y center top / 100% auto;
}

.product2-sec-1{
  padding-bottom: 30px;
  .blks-1{
    .heading{
      height: 200px;
      position: relative;
      &__main{
        position: absolute;
        top:10px; left:6px;
      }
      &::after{
        position:absolute;
        content:"";
        display:block;
        bottom:0; left:0;
        height: 10px; width: 100%;
        background: url("../images/product2/line01.png") repeat-x 0 0;
      }
    }
    .image{
      margin-bottom: 38px;
    }
    .col2{
      margin:0 10px 22px;
      display: flex;
      justify-content: space-between;
      &__lt{
        width: 479px;
      }
      &__rt{
        width: 439px;
        position: relative;
      }
    }
    .image-2{
      background: url("../images/product2/photo02.jpg") no-repeat center center / cover;
      position: absolute;
      top:0; left:0; width: 100%; height: 100%;
    }
    .list{
      font-size: f(24);
      font-weight: bold;
      dt{
        background: #401f00;
        text-align: center;
        color:#fff;
        padding:8px 10px;
        margin-bottom: 12px;
      }
      dd{
        background: #fff;
        padding:20px 10px;
        letter-spacing: .05em;
        text-align: center;
        span{
          font-size: f(16);
          vertical-align: middle;
          margin-left: 17px;
        }
        + dt{
          margin-top: 20px;
        }
      }
    }
    .text{
      font-size: f(22);
      line-height: lh(34,22);
      font-weight: bold;
      padding:0 16px;
      letter-spacing: .065em;
    }
  }
  @media screen and (min-width: 769px) and (max-width:1049px){
    padding-bottom: vw-pc(30);
    .blks-1{
      .heading{
        height:vw-pc(200);
        &__main{
          top:vw-pc(10); left:vw-pc(6);
          img{
            width: vw-pc(940);
          }
        }
        &::after{
          height: vw-pc(10);
        }
      }
      .image{
        margin-bottom:vw-pc(38);
      }
      .col2{
        margin:0 vw-pc(10) vw-pc(22);
        &__lt{
          width: vw-pc(479);
        }
        &__rt{
          width: vw-pc(439);
        }
      }
      .list{
        font-size: vw-pc(24);
        dt{
          padding:vw-pc(8) vw-pc(10);
          margin-bottom: vw-pc(12);
        }
        dd{
          padding:vw-pc(20) vw-pc(10);
          span{
            font-size: vw-pc(16);
            margin-left:vw-pc(17);
          }
          + dt{
            margin-top: vw-pc(20);
          }
        }
      }
      .text{
        font-size: vw-pc(22);
        padding:0 vw-pc(16);
      }
    }
  }
  @include sp{
    padding-bottom:vw-sp(44);
    .blks-1{
      .heading{
        height: vw-sp(214);
        &__main{
          top:vw-sp(11); left:vw-sp(9);
          img{
            width:vw-sp(1005);
          }
        }
        &::after{
          height: vw-sp(11);
          background: url("../images/product2/line01.png") repeat-x 0 0 / auto 100%;
        }
      }
      .image{
        margin-bottom:vw-sp(40);
      }
      .col2{
        margin:0 vw-sp(26) vw-sp(46);
        display:block;
        &__lt{
          width:auto;
        }
        &__rt{
          display: none;
        }
      }
      .image-2{
        background: url("../images/product2/photo02.jpg") no-repeat center center / cover;
        position: absolute;
        top:0; left:0; width: 100%; height: 100%;
      }
      .list{
        font-size:vw-sp(48.4);
        dt{
          padding:vw-sp(16) vw-sp(10);
          margin-bottom: vw-sp(12);
        }
        dd{
          padding:vw-sp(32) vw-sp(10);
          span{
            font-size:vw-sp(32.27);
            margin-left:vw-sp(17);
          }
          + dt{
            margin-top:vw-sp(32);
          }
        }
      }
      .text{
        font-size: vw-sp(32);
        line-height: lh(38.4,32); 
        margin:0 vw-sp(28);
        padding:0;
        letter-spacing: 0;
        position: relative;
        min-height:vw-sp(232);
        p{
          width: vw-sp(492);
        }
        &::after{
          position:absolute;
          content:"";
          display:block;
          top:0; right:0;
          width: vw-sp(414);
          height: vw-sp(232);
          background: url("../images/product2/photo02.jpg") no-repeat center center / cover;
        }
      }
    }
  }
}

.product2-sec-2{
  width: 957px;
  min-height: 576px;
  margin-left:-4px;
  background: url("../images/product2/bg02.png") no-repeat 0 0 / 100% 100%;
  .blks-1{
    text-align: center;
    width: 883px;
    margin:0 auto;
    padding:31px 0;
    .heading{
      margin-bottom: 31px;
    }
    .list{
      display:inline-block;
      text-align: left;
      color:#fff;
      font-size: f(24);
      font-weight: bold;
      margin-bottom: 32px;
      li{
        position: relative;
        padding-left: 28px;
        &:nth-child(1){
          margin-bottom: 30px;
        }
        &:nth-child(2){
          margin-bottom: 15px;
        }
        &:nth-child(3){
          margin-bottom: 25px;
        }
        &:nth-child(4){
          padding-left: 41px;
        }
        &::before{
          position:absolute;
          content:"";
          display:block;
          top:20px; left:0;
          background: #fff;
          width: 17px; height: 17px;
        }
      }
      img{
        vertical-align: middle;
        margin-right: 8px;
      }
      p{
        vertical-align: middle;
        letter-spacing: .075em;
        &:nth-child(2){
          margin: 10px 0 0 6px;
          font-size: f(27);
        }
      }
    }
    .text{
      background: #e3cbb1;
      font-size: f(27);
      font-weight: bold;
      padding:17px 10px;
      letter-spacing: .075em;
    }
  }
  @media screen and (min-width: 769px) and (max-width:1049px){
    width: vw-pc(957);
    min-height: vw-pc(576);
    margin-left:vw-pc(-4);
    .blks-1{
      width: vw-pc(883);
      padding:vw-pc(31) 0;
      .heading{
        margin-bottom:vw-pc(31);
        img{
          width: vw-pc(382);
        }
      }
      .list{
        font-size: vw-pc(24);
        margin-bottom: vw-pc(32);
        li{
          padding-left: vw-pc(28);
          img{
            display: inline-block;
          }
          &:nth-child(1){
            margin-bottom: vw-pc(30);
            img{
              width: vw-pc(193);
            }
          }
          &:nth-child(2){
            margin-bottom:vw-pc(15);
            img{
              width: vw-pc(193);
            }
          }
          &:nth-child(3){
            margin-bottom:vw-pc(25);
            img{
              width: vw-pc(283);
            }
          }
          &:nth-child(4){
            padding-left:vw-pc(41);
            img{
              width: vw-pc(365);
            }
          }
          &::before{
            top:vw-pc(20);
            width:vw-pc(17); height:vw-pc(17);
          }
        }
        img{
          margin-right:vw-pc(8);
        }
        p{
          &:nth-child(2){
            margin:vw-pc(10) 0 0 vw-pc(6);
            font-size:vw-pc(27);
          }
        }
      }
      .text{
        font-size:vw-pc(27);
        padding:vw-pc(17) vw-pc(10);
      }
    }
  }
  @include sp{
    width:auto;
    min-height: vw-sp(707);
    margin-left:0;
    background: url("../images/product2/bg02_sp.jpg") no-repeat 0 0 / 100% 100%;
    .blks-1{
      width:vw-sp(946);
      padding:vw-sp(37) 0;
      .heading{
        margin-bottom:vw-sp(31);
        img{
          width: vw-sp(509);
        }
      }
      .list{
        font-size:vw-sp(30.93);
        margin-bottom:vw-sp(30);
        padding-right: vw-sp(20);
        li{
          padding-left:vw-sp(40);
          &:nth-child(1){
            margin-bottom:vw-sp(44);
            img{
              width: vw-sp(235);
            }
          }
          &:nth-child(2){
            margin-bottom:vw-sp(25);
            img{
              width: vw-sp(236);
            }
          }
          &:nth-child(3){
            margin-bottom:vw-sp(35);
            img{
              width: vw-sp(357);
            }
          }
          &:nth-child(4){
            padding-left:vw-sp(51);
            img{
              width: vw-sp(456);
            }
          }
          &::before{
            top:vw-sp(22);
            width: vw-sp(22.5); height:vw-sp(22.5);
          }
        }
        img{
          margin-right:vw-sp(8);
        }
        p{
          &:nth-child(2){
            margin: vw-sp(10) 0 0 vw-sp(6);
            font-size:vw-sp(34.79);
          }
        }
      }
      .text{
        font-size: vw-sp(28.91);
        padding:vw-sp(3) vw-sp(10);
      }
    }
  }
}

.product2-sec-3{
  position: relative;
  padding:18px 0 41px;
  &::after{
    position:absolute;
    content:"";
    display:block;
    bottom:0; left:0;
    height: 10px; width: 100%;
    background: url("../images/product2/line01.png") repeat-x 0 0;
  }
  .blks-1{
    text-align: center;
    .heading{
      margin-bottom: 26px;
    }
    .image{
      margin-bottom: 30px;
    }
    .text{
      font-size: f(24);
      font-weight: bold;
      letter-spacing: .05em;
      p:not(:last-child){
        margin-bottom: 26px;
      }
    }
  }
  @media screen and (min-width: 769px) and (max-width:1049px){
    padding:vw-pc(18) 0 vw-pc(41);
    &::after{
      height:vw-pc(10);
    }
    .blks-1{
      .heading{
        margin-bottom: vw-pc(26);
        img{
          width: vw-pc(644);
        }
      }
      .image{
        margin-bottom: vw-pc(30);
        img{
          width: vw-pc(512);
        }
      }
      .text{
        font-size: vw-pc(24);
        p:not(:last-child){
          margin-bottom: vw-pc(26);
        }
      }
    }
  }
  @include sp{
    padding:vw-sp(38) 0 vw-sp(100);
    &::after{
      height: vw-sp(11);
      background: url("../images/product2/line01.png") repeat-x 0 0 / auto 100%;
    }
    .blks-1{
      .heading{
        margin-bottom: vw-sp(50);
        img{
          width: vw-sp(822);
        }
      }
      .image{
        margin-bottom: vw-sp(38);
        img{
          width: vw-sp(819);
        }
      }
      .text{
        font-size: vw-sp(32);
        line-height: 1;
        p:not(:last-child){
          margin-bottom: vw-sp(16);
        }
      }
    }
  }
}

.product2-sec-4{
  position: relative;
  padding:27px 0 68px;
  &::after{
    position:absolute;
    content:"";
    display:block;
    bottom:0; left:0;
    height: 10px; width: 100%;
    background: url("../images/product2/line01.png") repeat-x 0 0;
  }
  .blks-1{
    position: relative;
    margin-bottom: 46px;
    .heading{
      width: 405px;
      margin:0 36px 30px auto;
    }
    .text{
      width: 320px;
      margin:0 38px 0 auto;
      text-align: justify;
      font-size: f(22);
      line-height: lh(32,22);
      font-weight: bold;
      letter-spacing: .02em;
    }
    .image{
      position: absolute;
      top:49px; left:20px;
    }
  }
  .blks-2{
    .list{
      margin:0 18px;
      display:flex;
      flex-wrap: wrap;
      justify-content:space-between;
      li{
        margin-top:27px;
        &:nth-child(-n+3){
          margin-top: 0;
        }
      }
    }
    .image{
      margin-bottom: 14px;
    }
    .text{
      text-align: center;
    }
    .text-2{
      text-align: center;
    }
  }
  @media screen and (min-width: 769px) and (max-width:1049px){
    padding:vw-pc(27) 0 vw-pc(68);
    &::after{
      height: vw-pc(10);
    }
    .blks-1{
      margin-bottom:vw-pc(46);
      .heading{
        width:vw-pc(405);
        margin:0 vw-pc(36) vw-pc(30) auto;
        img{
          width: vw-pc(405);
        }
      }
      .text{
        width:vw-pc(320);
        margin:0 vw-pc(38) 0 auto;
        font-size: vw-pc(22);
      }
      .image{
        top:vw-pc(49); left:vw-pc(20);
        img{
          width: vw-pc(545);
        }
      }
    }
    .blks-2{
      .list{
        margin:0 vw-pc(18);
        li{
          margin-top:vw-pc(27);
        }
      }
      .image{
        margin-bottom:vw-pc(14);
        img{
          width: vw-pc(285);
        }
      }
      .text-2{
        &._type-1{img{width: vw-pc(126);}}
        &._type-2{img{width: vw-pc(126);}}
        &._type-3{img{width: vw-pc(101);}}
        &._type-4{img{width: vw-pc(130);}}
        &._type-5{img{width: vw-pc(128);}}
        &._type-6{img{width: vw-pc(177);}}
      }
    }
  }
  @include sp{
    padding:vw-sp(50) 0 vw-sp(48);
    &::after{
      height: vw-sp(11);
      background: url("../images/product2/line01.png") repeat-x 0 0 / auto 100%;
    }
    .blks-1{
      margin-bottom:vw-sp(44);
      .heading{
        width: vw-sp(516);
        margin:0 vw-sp(22) vw-sp(118) auto;
      }
      .text{
        width: vw-sp(908);
        margin:0 auto;
        font-size: vw-sp(32);
        line-height: lh(38.4,32);
      }
      .image{
        top:vw-sp(30); left:vw-sp(21);
        img{
          width: vw-sp(470);
        }
      }
    }
    .blks-2{
      .list{
        margin:0 vw-sp(20);
        li{
          margin-top:vw-sp(16);
        }
      }
      .image{
        margin-bottom:vw-sp(18);
        img{
          width: vw-sp(305);
        }
      }
      .text-2{
        &._type-1{img{width: vw-sp(133);}}
        &._type-2{img{width: vw-sp(134);}}
        &._type-3{img{width: vw-sp(106);}}
        &._type-4{img{width: vw-sp(137);}}
        &._type-5{img{width: vw-sp(136);}}
        &._type-6{img{width: vw-sp(188);}}
      }
    }
  }
}

.product2-sec-5{
  padding:36px 0 38px;
  position: relative;
  &::after{
    position:absolute;
    content:"";
    display:block;
    bottom:0; left:0;
    height: 10px; width: 100%;
    background: url("../images/product2/line01.png") repeat-x 0 0;
  }
  .blks-1{
    margin:0 14px;
    .col2{
      display: flex;
      justify-content: space-between;
      &__lt{
        width: 460px;
      }
      &__rt{
        width: 427px;
        margin-top: 4px;
      }
    }
    .image-list{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li{
        margin-top: 17px;
        &:nth-child(-n+2){
          margin-top: 0;
        }
      }
    }
    .heading{
      margin-bottom: -20px;
    }
    .text{
      p{
        &:not(:last-child){
          margin-bottom: 22px;
        }
        img,span{
          display: block;
        }
        img{
          margin-bottom: 13px;
        }
        span{
          font-size: f(22);
          line-height: lh(32,22);
          letter-spacing: .05em;
          font-weight: bold;
        }
      }
    }
  }
  @media screen and (min-width: 769px) and (max-width:1049px){
    padding:vw-pc(36) 0 vw-pc(38);
    &::after{
      height: vw-pc(10);
    }
    .blks-1{
      margin:0 vw-pc(14);
      .col2{
        &__lt{
          width:vw-pc(460);
        }
        &__rt{
          width:vw-pc(427);
          margin-top:vw-pc(4);
        }
      }
      .image-list{
        li{
          margin-top:vw-pc(17);
          img{
            width: vw-pc(222);
          }
        }
      }
      .heading{
        margin-bottom:vw-pc(-20);
        img{
          width: vw-pc(427);
        }
      }
      .text{
        p{
          &:not(:last-child){
            margin-bottom:vw-pc(22);
          }
          img{
            margin-bottom:vw-pc(13);
          }
          span{
            font-size:vw-pc(22);
          }
          &:nth-child(1){
            img{width:vw-pc(171)}
          }
          &:nth-child(2){
            img{width:vw-pc(170)}
          }
        }
      }
    }
  }
  @include sp{
    
  }
}

.product2-sec-6{
  padding:30px 0 44px;
  .blks-1{
    position: relative;
    margin-bottom: 45px;
    .heading{
      width: 498px;
      margin:0 36px -25px auto;
    }
    .col2{
      display: flex;
      justify-content: space-between;
      width: 354px;
      margin:0 40px 30px auto;
      &__lt{
        width: 140px;
      }
      &__rt{
        width: 185px;
      }
    }
    .text{
      font-size: f(22);
      line-height: lh(32,22);
      text-align: justify;
      letter-spacing: .03em;
      font-weight: bold;
    }
    .text-2{
      margin:0 40px 0 auto;
      width: 390px;
      h5{
        margin-bottom: 12px;
      }
      p{
        font-size: f(22);
        line-height: lh(32,22);
        font-weight: bold;
        letter-spacing: .05em;
      }
    }
    .image-2{
      position: absolute;
      top:63px; left:16px;
    }
  }
  .blks-2{
    .image-list{
      margin:0 28px 0 39px;
      display:flex;
      align-items: center;
      justify-content: space-between;
      li{
        &:nth-child(2){
          padding:0 0 10px 10px;
        }
        &:nth-child(3){
          padding:12px 6px 0 0;
        }
        &:nth-child(5){
          padding-bottom: 10px;
        }
      }
    }
  }
  @media screen and (min-width: 769px) and (max-width:1049px){
    padding:vw-pc(30) 0 vw-pc(44);
    .blks-1{
      margin-bottom: vw-pc(45);
      .heading{
        width: vw-pc(498);
        margin:0 vw-pc(36) vw-pc(-25) auto;
        img{
          width: vw-pc(498);
        }
      }
      .col2{
        width: vw-pc(354);
        margin:0 vw-pc(40) vw-pc(30) auto;
        &__lt{
          width: vw-pc(140);
        }
        &__rt{
          width: vw-pc(185);
        }
      }
      .text{
        font-size: vw-pc(22);
      }
      .text-2{
        margin:0 vw-pc(40) 0 auto;
        width: vw-pc(390);
        h5{
          margin-bottom: vw-pc(12);
          width: vw-pc(270);
        }
        p{
          font-size: vw-pc(22);
        }
      }
      .image-2{
        top:vw-pc(63); left:vw-pc(16);
        img{
          width: vw-pc(539);
        }
      }
    }
    .blks-2{
      .image-list{
        margin:0 vw-pc(28) 0 vw-pc(39);
        li{
          &:nth-child(1){
            img{width:vw-pc(147)}
          }
          &:nth-child(2){
            img{width:vw-pc(141)}
            padding:0 0 vw-pc(10) vw-pc(10);
          }
          &:nth-child(3){
            img{width:vw-pc(165)}
            padding:vw-pc(12) vw-pc(6) 0 0;
          }
          &:nth-child(4){
            img{width:vw-pc(180)}
          }
          &:nth-child(5){
            img{width:vw-pc(169)}
            padding-bottom: vw-pc(10);
          }
        }
      }
    }
  }
  @include sp{
    
  }
}