{% extends '_template.html' %}
{% block contents -%}
<section id="product2">
  <div class="wrap">
    <h3 class="title02">匠の自家工房専門店　おいしい工房</h3>
    <div class="product2-area">
      <div class="product2-sec-1">
        <div class="blks-1">
          <div class="heading">
            <p class="heading__main"><img src="./assets/images/product2/ttl01.png" alt="Homemade Products 匠の自家工房専門店 おいしい工房"></p>
          </div>
          <div class="image"><img src="./assets/images/product2/photo01.jpg" alt=""></div>
          <div class="col2">
            <div class="col2__lt">
              <dl class="list">
                <dt>営業時間</dt>
                <dd>10:00～閉園まで<span>（ラストオーダー:閉園1時間前）</span></dd>
                <dt>座席数</dt>
                <dd>40席</dd>
              </dl>
            </div>
            <div class="col2__rt">
              <div class="image-2"></div>
            </div>
          </div>
          <div class="text">
            <p>匠の職人たちの自家工房品加工場。<br>飲食スペースも完備され2020年春にリニューアル。店内では焼き立てパンやソーセージ、<br>乳製品などの加工品を販売しています。</p>
          </div>
        </div>
      </div>
      <section>
        <div class="product2-sec-2">
          <div class="blks-1">
            <div class="heading">
              <h4 class="heading__main"><img src="./assets/images/product2/ttl02.png" alt="販売商品・設備"></h4>
            </div>
            <ul class="list">
              <li>
                <p><img src="./assets/images/product2/txt01.png" alt="肉加工品">（ソーセージ・ベーコン・ハンバーグ等）</p>
                <p>お土産に！郵送もカウンターで受付します</p>
              </li>
              <li>
                <p><img src="./assets/images/product2/txt02.png" alt="スイーツ">（プリン・ヨーグルト・チーズケーキ等）</p>
              </li>
              <li>
                <p><img src="./assets/images/product2/txt03.png" alt="焼き立てパン">（食パン・調理パン等）</p>
              </li>
              <li>
                <p><img src="./assets/images/product2/txt04.png" alt="ドリンクメニュー"></p>
              </li>
            </ul>
            <div class="text">
              <p>イートインスペース40席（屋外テラス席もあり）</p>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="product2-sec-3">
          <div class="blks-1">
            <div class="heading">
              <h4 class="heading__main"><img src="" alt=""></h4>
            </div>
            <div class="image"><img src="" alt=""></div>
            <div class="text">
              <p>腕自慢の職人たちが極めた匠の品。すべて取り寄せ不可。<br>ここでしか手にはいらない“本物”を作っています。</p>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="product2-sec-4">
          <div class="blks-1">
            <div class="heading">
              <h4 class="heading__main"><img src="" alt=""></h4>
            </div>
            <div class="text">
              <p>淡路島産ブランド豚。糖度の高いバナナを食べてストレスなく育った肉は極上の脂と芳醇な香り。<br>ソーセージは他が食べられなくなるほどの衝撃をお約束します。</p>
            </div>
            <div class="image"><img src="" alt=""></div>
          </div>
          <div class="blks-2">
            <ul class="list">
              <li>
                <div class="image"><img src="" alt=""></div>
                <p>ソーセージ</p>
              </li>
              <li>
                <div class="image"><img src="" alt=""></div>
                <p>ロースハム</p>
              </li>
              <li>
                <div class="image"><img src="" alt=""></div>
                <p>ベーコン</p>
              </li>
              <li>
                <div class="image"><img src="" alt=""></div>
                <p>ハンバーグ</p>
              </li>
              <li>
                <div class="image"><img src="" alt=""></div>
                <p>スペアリブ</p>
              </li>
              <li>
                <div class="image"><img src="" alt=""></div>
                <p>ローストビーフ</p>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section>
        <div class="product2-sec-5">
          <div class="blks-1">
            <div class="col2">
              <div class="col2__lt">
                <ul class="image-list">
                  <li><img src="" alt=""></li>
                  <li><img src="" alt=""></li>
                  <li><img src="" alt=""></li>
                  <li><img src="" alt=""></li>
                </ul>
              </div>
              <div class="col2__rt">
                <div class="text">
                  <p><span>淡路島牛乳</span><span>を使用したプリン・ヨーグルトなどの<br>乳製品。</span></p>
                  <p><span>淡路島の卵</span><span>とクリームチーズを使用した<br>チーズケーキはリピーター様多数。<br>すべて当園のこだわりの自家製です。</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="product2-sec-6">
          <div class="blks-1">
            
          </div>
          <div class="heading">
            <h4 class="heading__main"></h4>
          </div>
          <div class="text">
            <p>職人たちが淡路島の素材を活かし、手間暇をかけ毎朝焼き上げます。</p>
          </div>
          <div class="text-2">
            <h5>島はちみつ食パン</h5>
            <p>北海道産小麦100％の生地には園内の養蜂場で採れたはちみつ、<br>淡路島牛乳のブランド「匠」を使用。</p>
          </div>
          <div class="blks-3">
            <ul class="image-list">
              <li><img src="" alt=""></li>
              <li><img src="" alt=""></li>
              <li><img src="" alt=""></li>
              <li><img src="" alt=""></li>
              <li><img src="" alt=""></li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
{%- endblock %}